{{define "footer"}}
<link rel="stylesheet" href="./css/footer.css">
    <footer>
        <div class="footer">
            <div class="insta">
                <img class="insta" src="./static/instagram pour yfitops.webp">
                <div class="text1">
                    @Yfitops
                </div>
            </div>
            <div class="mail">
                <img class="mail" src="./static/yfitops mail.png">
                <div class="text2">
                    Yfitops@gmail.com
                </div>
                <div class="logo">
                    <img class="logo1" src="./static/Yfitops.png">
                </div>
            </div>
        </div>
    </footer>
{{end}}