{{define "tempArtist"}}
<link href="../static/stylestemp.css" rel="stylesheet" type="text/css">

<div class="container" id="{{.Name}}"> 
    <div class="infoContainer">
        <div class="name">{{.Name}} </div>
        <div class="info">
            <div class="members">Members :  {{range $Members := .Members}} <li>{{$Members}} </li> {{end}}  </div>  
            <div class="locations">Locations : {{range $Loca := .Loca}} <li>{{$Loca}} </li> {{end}} </div> 
            <div class="dates">Dates :  {{range $Date := .Dates}} <li>{{$Date}} </li> {{end}} </div> 
        </div>    
    </div>
    <div class="map"></div>
</div>

{{end}}