{{define "tempArtist"}}
<link href="../static/stylestemp.css" rel="stylesheet" type="text/css">

<div class="container" id="{{.Name}}"> 
    <div class="infoContainer">
        <div class="name">{{.Name}} </div><br>
        <div class="members">Members : <br> {{range $Members := .Members}} <li>{{$Members}} </li> {{end}}  </div> <br> 
        <div class="locations">Locations : <br> {{range $Loca := .Loca}} <li>{{$Loca}} </li> {{end}} </div>
        <div class="dates">Dates : <br> {{range $Date := .Dates}} <li>{{$Date}} </li> {{end}} </div>     
    </div>
</div>


{{end}}