<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/homepage.css">
    <title>Yfitops page d'accueil</title>
</head>
<body>  
    <div class="container">
        {{template "header"}}
        <div class="souscontainer">
            <nav>
                <ul>
                    <div class="test">
                        <a href="/ArtistPage">
                        <span class="artist"> Page Artiste </span>
                    </a>
                    </div>
                    <li>
                        <a href="/ArtistPage#rap">
                            <span class="nav-item">RAP</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ArtistPage#pop">
                            <span class="nav-item">POP</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ArtistPage#rock">
                            <span class="nav-item">ROCK</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ArtistPage#chill">
                            <span class="nav-item">CHILL</span>
                        </a>
                    </li>
                </ul>
            </nav> 
        <div class="home">
            <div class="zone">
                <div class="rond">
                    <img class ="rxxx" src="./static/noicatnetxxx pour yfitops.png">
                </div>
                <div class="carre">
                    <img class ="xxx" src="./static/xxxtentacion album yfitops.jpg">
                </div>
                <p>Le rap est un mouvement culturel et musical qui<br> tire ses origines du hip-hop. Apparu au début des<br> années 1970 dans les ghettos américains, le rap se<br> caractérise par une diction très rythmée et l’usage de la rime.</p>
            </div>
            <div class="zone">
                <div class="rond"></div>
                <div class="carre"></div>
                <p>La musique pop est un genre musical apparu dans<br> les années 1960 au Royaume-Uni et aux États-Unis.<br> Les chansons pop parlent en général de l'amour ou<br> des relations amoureuses.</p>
            </div>
            <div class="zone">
                <div class="rond"></div>
                <div class="carre"></div>
                <p>Le rock est un genre musical apparu dans les années<br> 1950 aux États-Unis et qui s'est développé en différents<br> sous-genres à partir des années 1960, notamment aux<br> États-Unis et au Royaume-Uni.</p>
            </div>
            <div class="zone">
                <div class="rond"></div>
                <div class="carre"></div>
                <p>Le chill-out est un terme décrivant plusieurs genres<br> de musiques électroniques caractérisées par <br>leur mélodie reposante et leur tempo modéré,<br> il désigne un style de musique planante</p>
            </div>
        </div>
        </div>
    </div>
    {{template "footer"}}
</body>
</html>
