<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/homepage.css">
    <title>Yfitops page d'accueil</title>
</head>
<body>  
    <div class="container">
        {{template "header"}}
        <div class="souscontainer">
            <nav>
                <ul>
                    <div class="test">
                        <a href="/ArtistPage">
                        <span class="artist"> Page Artiste </span>
                    </a>
                    </div>
                    <fieldset class="filter">
                        <legend>Choose the number of members:</legend>
                    
                        <div class="checkbox">
                          <input type="checkbox" id="1" name="1">
                          <label for="1">1</label>
                          <input type="checkbox" id="2" name="2">
                          <label for="2">2</label>
                          <input type="checkbox" id="3" name="3">
                          <label for="3">3</label>
                          <input type="checkbox" id="4" name="4">
                          <label for="4">4</label>
                          <input type="checkbox" id="5" name="5">
                          <label for="5">5</label>
                          <input type="checkbox" id="6" name="6">
                          <label for="6">6</label>
                        </div>
                    </fieldset>
                    <fieldset class="filter">
                        <legend>Choose the date of concert :</legend>
                        <div class="range">
                        <label for="date">Date : </label>
                        <input type="range" id="date" name="date" value="1970"
                               min="1970" max="2020">
                            <p>Value :<output id="date"></output></p>
                      </div>
                    </fieldset>
                </ul>
            </nav> 
            <div class="home">
            
            </div>
        </div>
    </div>
    {{template "footer"}}
</body>
</html>
