<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/homepage.css">
    <title>Yfitops page d'accueil</title>
</head>
<body>
    <div class="container">
        {{template "header"}}
        <div class="souscontainer">
            <nav>
                <ul>
                    <div class="test">
                        Page Artiste
                    </div>
                    <li>
                        <a href="/rap">
                            <span class="nav-item">RAP</span>
                        </a>
                    </li>
                    <li>
                        <a href="/pop">
                            <span class="nav-item">POP</span>
                        </a>
                    </li>
                    <li>
                        <a href="/rock">
                            <span class="nav-item">ROCK</span>
                        </a>
                    </li>
                    <li>
                        <a href="/chill">
                            <span class="nav-item">CHILL</span>
                        </a>
                    </li>
                </ul>
            </nav> 
        <div class="home">
            <div class="zone">
                <div class="rond"></div>
                <div class="carre"></div>
                <p>sdghjytytregn,yr</p>
            </div>
            <div class="zone">
                <div class="rond"></div>
                <div class="carre"></div>
                <p>La pop est un style de musique urbain</p>
            </div>
            <div class="zone">
                <div class="rond"></div>
                <div class="carre"></div>
                <p>dfbghretrdbnfghtr</p>
            </div>
            <div class="zone">
                <div class="rond"></div>
                <div class="carre"></div>
                <p>bdfhdrgfhgyet</p>
            </div>
        </div>
        </div>
    </div>
    {{template "footer"}}
</body>
</html>