*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #952525;
    overflow-y: hidden;
}

nav {
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 215px;
    overflow: hidden;
    box-shadow: 0 2px 35px rgba(0, 0, 0, 0, 1);
}

h2 {
    opacity: 40%;
    padding-left: 15px;
    padding-top: 60px;
    font-size: 12px;
}

.nav-item {
    margin-left: 10px;
}

.souscontainer{
    display: flex;
}

nav{
    position: static;
    border-right: solid 3px #FFFFFF;
    height: 600px;
    width: 250px;  
}

nav a {
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width:thin;
    margin-top: 50px;
    position: relative;
    color: #B51A1A;
    font-size: 40px;
    display: table;
    width: 300px;
    padding: 10px;
    align-content: space-around;
    text-decoration: none;
}   

.test{
    margin-top: -50px;
    border-bottom: solid #FFFFFF;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #D11313;
    font-size: xx-large;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.home{
    overflow: hidden;
}

.artist{
    font-size: xx-large;
}
.checkbox{
        font: 1rem 'Fira Sans', sans-serif;
        margin-left: 10px;
        margin-top: 15px;
}
.filter{
    height: 70px;
    width: 220px;
    margin-left: 10px;
    margin-top: 20px;
}
.date{
    margin-top: 500px;
}
.range{
    margin-top: 8px;
    margin-left: 6px;
}
