* {
    padding: 0px;
    margin: 0px;
}


.container {
    margin-top: 450px;
    background-color: white;
    color: black;
    width: 1800px;
    height: 700px;
    overflow: hidden;
    
}

.infoContainer {
    height: 700px;
    width: 900px;
    font-size: large;
    background-color: rgb(49, 4, 4);
    color: rgb(29, 170, 212)
}

.name {
    margin-left: 400px;
    font-size: 50px;
}

.members {
    margin-left: 30px;
    margin-top: 10px;
}

.locations {
    margin-left: 30px;
}

.dates {
    margin-left: 30px;
}




