* {
    padding: 0;
    margin: 0;
}


body {
    background: #952525;
}

.firstlinebox {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.secondlinebox {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.thirdlinebox {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.lastlinebox {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.text {
    display: flex;
    font-size: xx-large;
    margin-left: 905px;
    margin-top: 10px;
}

.text2 {
    display: flex;
    font-size: xx-large;
    margin-left: 905px;
    margin-top: 100px;
}

.text3 {
    display: flex;
    font-size: xx-large;
    margin-left: 905px;
    margin-top: 100px;
}

.text4 {
    display: flex;
    font-size: xx-large;
    margin-left: 905px;
    margin-top: 100px;
}