* {
    padding: 0px;
    margin: 0px;
}

body{
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.container {
    margin-top: 450px;
    color: #d11313;
    width: 100%;
}

.infoContainer {
    height: 100%;
    width: 100%;
    font-size: large;
    background-image: linear-gradient(180deg, #000000, #ff0000);

}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.members {
    margin-left: 30px;
    margin-top: 10px;
    color: #000000;
    border:solid 4px #ffffff;
    height: fit-content;
    padding: 2px;
    background-image: linear-gradient(180deg, #D11313, #fe9a04);
}

.locations {
    margin-left: 30px;
    color: #000000;
    border:solid 4px #ffffff;
    height: fit-content;
    padding: 2px;
    background-image: linear-gradient(180deg, #D11313, #fe9a04);
}

.dates {
    margin-left: 30px;
    color: #000000;
    border:solid 4px #ffffff;
    height: fit-content;
    padding: 2px;
    background-image: linear-gradient(180deg, #D11313, #fe9a04);
}
.info{
    display: flex;
    margin: 25px 0 0 0;
}